<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tellh.com.gitclub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".common.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.view.activity.IntroActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.HomeActivity" android:launchMode="singleTop"/>
        <activity android:name=".presentation.view.activity.ListStarredRepoActivity"/>
        <activity android:name=".presentation.view.activity.ListFollowersActivity"/>
        <activity android:name=".presentation.view.activity.ListFollowingUserActivity"/>
        <activity android:name=".presentation.view.activity.ListOwnRepoActivity"/>
    </application>

</manifest>